// Color system

// White/Grays/Black colors
$white:    #FFF !default;
$gray-50:  #FAFAFA !default;    // Alternate background
$gray-100: #F5F9FC !default;    // Base background
$gray-200: #E7EAF0 !default;
$gray-300: #CFD6DF !default;
$gray-400: #ABB6C5 !default;
$gray-500: #8898A9 !default;    // Disabled text
$gray-600: #6B7B93 !default;    // Placeholder text
$gray-700: #525F7F !default;    // Text content
$gray-800: #2D3748 !default;    // Text content old(44444e)
$gray-900: #16192C !default;    // Text content
$black:    #000 !default;

// Base colors
$blue:    #0099FF !default;
$indigo:  #5C60F5 !default;
$purple:  #8957FF !default;
$pink:    #FF579A !default;
$magenta: #EE33FF !default;
$red:     #FF3366 !default;
$orange:  #FF8C00 !default;
$yellow:  #FFBB00 !default;
$lime:    #84cc16 !default;
$green:   #00CC88 !default;
$teal:    #22DDDD !default;
$cyan:    #00D4FF !default;

// Theme colors
$primary:       $indigo !default;
$secondary:     $gray-300 !default;
$tertiary:      $pink !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
