@import "variables";
@import "variables-dark";

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
@import "maps";
@import "mixins";

// 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "root";

// 6. Include reboot styles for formatting the default browser behaviour
@import "bootstrap/scss/reboot";
@import "reboot";

// 7. Include any other optional stylesheet partials as desired; list below is not inclusive of all available stylesheets
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/transitions";