// Accent
$accent-bg-dark:			$gray-800;
$accent-color-dark:		$gray-100;

// Neutral button
$btn-neutral-bg-dark:                    $gray-800;
$btn-neutral-color-dark:                 $gray-100;
$btn-neutral-border-color-dark:          $gray-700;
$btn-neutral-hover-bg-dark:              $gray-700;
$btn-neutral-hover-border-color-dark:    $gray-500;
$btn-neutral-hover-color-dark:           $gray-50;
$btn-neutral-active-bg-dark:             $gray-700;
$btn-neutral-active-border-color-dark:   $gray-500;
$btn-neutral-active-color-dark:          $gray-50;

// Headings
$headings-color-dark:               		 	$white;