// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Enable/Disable options
@import "./options";
@import "./colors";
@import "./spacing";
@import "./sizing";
@import "./global";
@import "./transitions";
@import "./grid";
@import "./typography";
@import "./components";

// Bootstrap variables
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
