// Sizing
//

@use "sass:math";

// This variable affects the `.w-*`, `.min-w-*`, `.mw-*` classes.
$percentage-sizers: () !default;

$percentage-sizers: map-merge((
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  110: 110%,
  120: 120%,
  130: 130%,
), $percentage-sizers);

// This variable affects the `.w-screen-*`, `.max-w-screen-*` classes.
$screen-width-sm: 640px !default;
$screen-width-md: 768px !default;
$screen-width-lg: 1024px !default;
$screen-width-xl: 1280px !default;
$screen-width-xxl: 1536px !default;

// Screen widths
$screen-widths: () !default;

$screen-widths: map-merge((
  screen-sm: $screen-width-sm,
  screen-md: $screen-width-md,
  screen-lg: $screen-width-lg,
  screen-xl: $screen-width-xl,
  screen-xxl: $screen-width-xxl
), $screen-widths);
