
// Neutral button
$btn-neutral-bg:                    $gray-900 !default;
$btn-neutral-color:                 $gray-100 !default;
$btn-neutral-border-color:          $gray-300 !default;
$btn-neutral-hover-bg:              $gray-100 !default;
$btn-neutral-hover-border-color:    $gray-200 !default;
$btn-neutral-hover-color:           $gray-700 !default;
$btn-neutral-active-bg:             $gray-200 !default;
$btn-neutral-active-border-color:   $gray-300 !default;
$btn-neutral-active-color:          $gray-700 !default;