// 
// Variables
// 


// Neutral button
$btn-neutral-bg-dark:                    $gray-800 !default;
$btn-neutral-color-dark:                 $gray-100 !default;
$btn-neutral-border-color-dark:          $gray-800 !default;
$btn-neutral-hover-bg-dark:              $gray-700 !default;
$btn-neutral-hover-border-color-dark:    $gray-200 !default;
$btn-neutral-hover-color-dark:           $gray-50 !default;
$btn-neutral-active-bg-dark:             $gray-800 !default;
$btn-neutral-active-border-color-dark:   $gray-200 !default;
$btn-neutral-active-color-dark:          $gray-50 !default;