*.log
.DS_Store
.cache/
.changelog/
.sass-cache
.stylelintcache
.parcel-cache
.cache
.changeset
.github
node_modules
tmp
integration
script
package-lock.json

# we ignore this because everything in src/ is copied out in script/prepublish
src/
