:root,
[data-bs-theme="light"] {

  @each $color, $value in $all-colors {
    --#{$prefix}#{$color}: #{$value};
  }

  // Fonts
  --#{$prefix}font-display: #{inspect($font-display-bundle)};
  --#{$prefix}font-serif: #{inspect($font-serif-bundle)};
  --#{$prefix}font-monospace: #{inspect($font-monospace-bundle)};

  // Logo
  .logo-light {
    display: none;
  }
  .logo-dark {
    display: block;
  }
}

@if $enable-dark-mode {
  @include color-mode(dark, true) {
    // Logo
    .logo-light {
      display: block;
    }
    .logo-dark {
      display: none;
    }

    // Buttons
    .btn-neutral {
      --#{$prefix}btn-bg: var(--#{$prefix}gray-800);
      --#{$prefix}btn-border-color: var(--#{$prefix}gray-800);
      --#{$prefix}btn-color: var(--#{$prefix}gray-100);
      --#{$prefix}btn-hover-bg: var(--#{$prefix}gray-700);
      --#{$prefix}btn-hover-color: var(--#{$prefix}white);
      --#{$prefix}btn-hover-border-color: var(--#{$prefix}gray-700);
    }
  }
}
