:root,
[data-bs-theme="light"] {

  @each $color, $value in $all-colors {
    --#{$prefix}#{$color}: #{$value};
  }

  @each $color, $value in $all-colors-rgb {
    --#{$prefix}#{$color}-rgb: #{$value};
  }
  
  // Fonts
  --#{$prefix}font-display: #{inspect($font-display-bundle)};
  --#{$prefix}font-serif: #{inspect($font-serif-bundle)};
  --#{$prefix}font-monospace: #{inspect($font-monospace-bundle)};

  // Shadows
  --#{$prefix}box-shadow: #{$box-shadow};
  --#{$prefix}box-shadow-1: #{$box-shadow-1};
  --#{$prefix}box-shadow-2: #{$box-shadow-2};
  --#{$prefix}box-shadow-3: #{$box-shadow-3};
  --#{$prefix}box-shadow-4: #{$box-shadow-4};
  --#{$prefix}box-shadow-5: #{$box-shadow-5};
  --#{$prefix}box-shadow-6: #{$box-shadow-6};

  --#{$prefix}box-soft-shadow-1: #{$box-soft-shadow-1};
  --#{$prefix}box-soft-shadow-2: #{$box-soft-shadow-2};
  --#{$prefix}box-soft-shadow-3: #{$box-soft-shadow-3};
  --#{$prefix}box-soft-shadow-4: #{$box-soft-shadow-4};
  --#{$prefix}box-soft-shadow-5: #{$box-soft-shadow-5};
  --#{$prefix}box-soft-shadow-6: #{$box-soft-shadow-6};

  // Logo
  .logo-light {
    display: none;
  }
  .logo-dark {
    display: block;
  }
}

@if $enable-dark-mode {
  @include color-mode(dark, true) {
    // Logo
    .logo-light {
      display: block;
    }
    .logo-dark {
      display: none;
    }

    // Buttons
    .btn-neutral {
      --#{$prefix}btn-bg: var(--#{$prefix}gray-800);
      --#{$prefix}btn-border-color: var(--#{$prefix}gray-800);
      --#{$prefix}btn-color: var(--#{$prefix}gray-100);
      --#{$prefix}btn-hover-bg: var(--#{$prefix}gray-700);
      --#{$prefix}btn-hover-color: var(--#{$prefix}white);
      --#{$prefix}btn-hover-border-color: var(--#{$prefix}gray-700);
    }
  }
}
