// Colors
$primary: $pink;
$primary-text-emphasis: shade-color($primary, 60%);
$primary-bg-subtle: tint-color($primary, 80%);
$primary-border-subtle: tint-color($primary, 60%);

$secondary: $cyan;
$secondary-text-emphasis: shade-color($secondary, 60%);
$secondary-bg-subtle: tint-color($secondary, 80%);
$secondary-border-subtle: tint-color($secondary, 60%);
