// Sizing
//

@use "sass:math";

// This variable affects the `.w-*`, `.min-w-*`, `.max-w-*` classes.
$percentage-sizers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$percentage-sizers: map-merge((
    1\/2: math.div(100%, 2),
    1\/3: math.div(100%, 3),
    2\/3: math.div(200%, 3),
    1\/4: math.div(100%, 4),
    2\/4: math.div(200%, 4),
    3\/4: math.div(300%, 4),
    1\/5: math.div(100%, 5),
    2\/5: math.div(200%, 5),
    3\/5: math.div(300%, 5),
    4\/5: math.div(400%, 5),
    1\/6: math.div(100%, 6),
    2\/6: math.div(200%, 6),
    3\/6: math.div(300%, 6),
    4\/6: math.div(400%, 6),
    5\/6: math.div(500%, 6),
    11\/10: 110%,
    12\/10: 120%,
    13\/10: 130%,
    14\/10: 140%,
    15\/10: 150%,
), $percentage-sizers);

// This variable affects the `.w-screen-*`, `.max-w-screen-*` classes.
$screen-width-sm: 640px !default;
$screen-width-md: 768px !default;
$screen-width-lg: 1024px !default;
$screen-width-xl: 1280px !default;
$screen-width-xxl: 1536px !default;

// Map
$screen-widths: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$screen-widths: map-merge((
  screen-sm: $screen-width-sm,
  screen-md: $screen-width-md,
  screen-lg: $screen-width-lg,
  screen-xl: $screen-width-xl,
  screen-xxl: $screen-width-xxl
), $screen-widths);
