// Import the default variables and function
@import "@webpixels/css/core/functions";

// Your theme's variables
@import "./variables";

// Webpixels CSS
// @import "@webpixels/css/utilities";
@import "@webpixels/css/base";
@import "@webpixels/css/forms";

// Components
// @import "accordions";
@import "@webpixels/css/components/alerts";
// @import "@webpixels/css/components/avatars";
// // @import "@webpixels/css/components/badges";
// // @import "@webpixels/css/components/breadcrumbs";
@import "@webpixels/css/components/buttons";
// // @import "@webpixels/css/components/carousels";
// @import "@webpixels/css/components/close";
// @import "@webpixels/css/components/dropdowns";
// @import "@webpixels/css/components/icons";
// // @import "@webpixels/css/components/list-groups";
// // @import "@webpixels/css/components/overlays";
// @import "@webpixels/css/components/navbars";
// @import "@webpixels/css/components/navs";
@import "@webpixels/css/components/cards";
// // @import "@webpixels/css/components/omnisearches";
// @import "@webpixels/css/components/paginations";
// // @import "@webpixels/css/components/placeholders";
// // @import "@webpixels/css/components/popovers";
// // @import "@webpixels/css/components/progress";
// // @import "@webpixels/css/components/spinners";
// @import "@webpixels/css/components/tables";
// // @import "@webpixels/css/components/toasts";
// // @import "@webpixels/css/components/tooltips";
