@media screen and (max-width: 600px) {
    .table-list {
        border: 0;

        caption {
            font-size: 1.3em;
        }

        > :not(caption) > * {
          border-width: $table-border-width 0;

          // stylelint-disable-next-line selector-max-universal
          > * {
            border-width: 0 $table-border-width;
          }
        }

        thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        tr {
            display: block;
            margin-bottom: $spacer;
        }

        td {
            border-bottom: 1px solid $table-border-color;
            display: block;
            text-align: right;

            &:before {
                content: attr(data-label);
                float: left;
                font-weight: $font-weight-bold;
                font-size: $font-size-sm;
                color: $headings-color;
                // text-transform: uppercase;
            }

            &:last-child {
                border-bottom: 0;
            }
        }

    }
}
