//
// Table
//
// Bootstrap component
@import "bootstrap/scss/tables";

// Webpixels CSS styles
//
// General styles
.table {
    margin-bottom: 0;

    thead th {
        padding-top: style('table', 'head', 'spacer-y');
        padding-bottom: style('table', 'head', 'spacer-y');
        font-size: style('table', 'head', 'font-sizee');
        font-weight: style('table', 'head', 'font-weight');
        text-transform: style('table', 'head', 'text-transform');
        letter-spacing: style('table', 'head', 'letter-spacing');
        border-bottom-width: style('table', 'head', 'border-width');
        white-space: nowrap;
        vertical-align: style('table', 'head', 'vertical-align');
    }

    tbody {
        th {
            font-size: style('table', 'cell', 'font-size');
        }
    }

    td {
        font-size: style('table', 'cell', 'font-size');
        white-space: nowrap;

        .progress {
            height: 3px;
            width: 120px;
            margin: 0;
        }
    }

    // Styles for dark table

    // &.table-dark,
    // .table-dark {
    //     th {
    //         background-color: $table-dark-th-bg;
    //         color: $table-dark-th-color;
    //
    //         a {
    //             color: $table-dark-th-color;
    //         }
    //     }
    // }
    //
    //
    // // Styles for light table
    // &.table-light,
    // .table-light {
    //     th {
    //         background-color: $table-light-th-bg;
    //         color: $table-light-th-color;
    //
    //         a {
    //             color: $table-light-th-color;
    //         }
    //     }
    // }
}
