// Align content
// options to pass to the utility API
//

// Default values
$align-content-values: map-get($config, align-content) !default;
$align-content-state: null !default;
$align-content-responsive: true !default;

// Override default options with the theme's ones
$align-content-defaults: (
    responsive: if(map-has-key($theme, align-content, responsive), map-get($theme, align-content, responsive), $align-content-responsive),
    values: if(map-has-key($theme, align-content, values), map-get($theme, align-content, values), $align-content-values),
    disable: if(map-has-key($theme, align-content, disable), map-get($theme, align-content, disable), false)
) !default;

$align-content-options: (
    property: align-content,
    class: align-content,
    responsive: map-get($align-content-defaults, responsive),
    values: map-get($align-content-defaults, values),
);

// Merge states (variants)
@if(map-has-key($theme, align-content, state)) {
    // Push new values to default list if not null
    $align-content-state: if($align-content-state != null, append($align-content-state, map-get($theme, align-content, state)), map-get($theme, align-content, state));

    // Merge states with the utility options
    $align-content-options: map-merge($align-content-options, (
        state: map-get($theme, align-content, state)
    ));
} @else {
    @if($align-content-state != null) {
        $align-content-options: map-merge($align-content-options, (
            state: $align-content-state
        ));
    }
}
