// Cursor
// options to pass to the utility API
//

// Default values
$cursor-values: map-get($config, cursor) !default;
$cursor-state: hover !default;
$cursor-responsive: true !default;

// Override default options with the theme's ones
$cursor-defaults: (
    responsive: if(map-has-key($theme, cursor, responsive), map-get($theme, cursor, responsive), $cursor-responsive),
    values: if(map-has-key($theme, cursor, values), map-get($theme, cursor, values), $cursor-values),
    disable: if(map-has-key($theme, cursor, disable), map-get($theme, cursor, disable), false)
) !default;

$cursor-options: (
    property: cursor,
    class: cursor,
    responsive: map-get($cursor-defaults, responsive),
    values: map-get($cursor-defaults, values),
);

// Merge states (variants)
@if(map-has-key($theme, cursor, state)) {
    // Push new values to default list if not null
    $cursor-state: if($cursor-state != null, append($cursor-state, map-get($theme, cursor, state)), map-get($theme, cursor, state));

    // Merge states with the utility options
    $cursor-options: map-merge($cursor-options, (
        state: map-get($theme, cursor, state)
    ));
} @else {
    @if($cursor-state != null) {
        $cursor-options: map-merge($cursor-options, (
            state: $cursor-state
        ));
    }
}
