// Font weight
// options to pass to the utility API
//

// Default values
$font-weight-values: map-get($config, font-weight) !default;
$font-weight-state: null !default;
$font-weight-responsive: true !default;

// Override default options with the theme's ones
$font-weight-defaults: (
    responsive: if(map-has-key($theme, font-weight, responsive), map-get($theme, font-weight, responsive), $font-weight-responsive),
    values: if(map-has-key($theme, font-weight, values), map-get($theme, font-weight, values), $font-weight-values),
    disable: if(map-has-key($theme, font-weight, disable), map-get($theme, font-weight, disable), false)
) !default;

$font-weight-options: (
    property: font-weight,
    class: font,
    responsive: map-get($font-weight-defaults, responsive),
    values: map-get($font-weight-defaults, values),
);

// Merge states (variants)
@if(map-has-key($theme, font-weight, state)) {
    // Push new values to default list if not null
    $font-weight-state: if($font-weight-state != null, append($font-weight-state, map-get($theme, font-weight, state)), map-get($theme, font-weight, state));

    // Merge states with the utility options
    $font-weight-options: map-merge($font-weight-options, (
        state: map-get($theme, font-weight, state)
    ));
} @else {
    @if($font-weight-state != null) {
        $font-weight-options: map-merge($font-weight-options, (
            state: $font-weight-state
        ));
    }
}
