// Font family
// options to pass to the utility API
//

// Default values
$font-family-values: map-get($config, font-family) !default;
$font-family-state: null !default;
$font-family-responsive: false !default;

// Override default options with the theme's ones
$font-family-defaults: (
    responsive: if(map-has-key($theme, font-family, responsive), map-get($theme, font-family, responsive), $font-family-responsive),
    values: if(map-has-key($theme, font-family, values), map-get($theme, font-family, values), $font-family-values),
    disable: if(map-has-key($theme, font-family, disable), map-get($theme, font-family, disable), false)
) !default;

$font-family-options: (
    property: font-family,
    class: font,
    responsive: map-get($font-family-defaults, responsive),
    values: map-get($font-family-defaults, values),
);

// Merge states (variants)
@if(map-has-key($theme, font-family, state)) {
    // Push new values to default list if not null
    $font-family-state: if($font-family-state != null, append($font-family-state, map-get($theme, font-family, state)), map-get($theme, font-family, state));

    // Merge states with the utility options
    $font-family-options: map-merge($font-family-options, (
        state: map-get($theme, font-family, state)
    ));
} @else {
    @if($font-family-state != null) {
        $font-family-options: map-merge($font-family-options, (
            state: $font-family-state
        ));
    }
}
