// Min Height
// options to pass to the utility API
//

@import "../core";

// Default values
$min-height-values: map-get($config, min-height) !default;
$min-height-state: null !default;
$min-height-responsive: true !default;

// Override default options with the theme's ones
$min-height-defaults: (
    responsive: if(map-has-key($theme, min-height, responsive), map-get($theme, min-height, responsive), $min-height-responsive),
    values: if(map-has-key($theme, min-height, values), map-get($theme, min-height, values), $min-height-values),
    disable: if(map-has-key($theme, min-height, disable), map-get($theme, min-height, disable), false)
) !default;

$min-height-options: (
    property: min-height,
    class: min-h,
    responsive: map-get($min-height-defaults, responsive),
    values: map-get($min-height-defaults, values),
);

// Merge states (variants)
@if(map-has-key($theme, min-height, state)) {
    // Push new values to default list if not null
    $min-height-state: if($min-height-state != null, append($min-height-state, map-get($theme, min-height, state)), map-get($theme, min-height, state));

    // Merge states with the utility options
    $min-height-options: map-merge($min-height-options, (
        state: map-get($theme, min-height, state)
    ));
} @else {
    @if($min-height-state != null) {
        $min-height-options: map-merge($min-height-options, (
            state: $min-height-state
        ));
    }
}
