// Min Width
// options to pass to the utility API
//

@import "../core";

// Default values
$min-width-values: map-get($config, min-width) !default;
$min-width-state: null !default;
$min-width-responsive: true !default;

// Override default options with the theme's ones
$min-width-defaults: (
    responsive: if(map-has-key($theme, min-width, responsive), map-get($theme, min-width, responsive), $min-width-responsive),
    values: if(map-has-key($theme, min-width, values), map-get($theme, min-width, values), $min-width-values),
    disable: if(map-has-key($theme, min-width, disable), map-get($theme, min-width, disable), false)
) !default;

$min-width-options: (
    property: min-width,
    class: min-w,
    responsive: map-get($min-width-defaults, responsive),
    values: map-get($min-width-defaults, values),
);

// Merge states (variants)
@if(map-has-key($theme, min-width, state)) {
    // Push new values to default list if not null
    $min-width-state: if($min-width-state != null, append($min-width-state, map-get($theme, min-width, state)), map-get($theme, min-width, state));

    // Merge states with the utility options
    $min-width-options: map-merge($min-width-options, (
        state: map-get($theme, min-width, state)
    ));
} @else {
    @if($min-width-state != null) {
        $min-width-options: map-merge($min-width-options, (
            state: $min-width-state
        ));
    }
}
