// Overflow
// options to pass to the utility API
//

// Default values
$overflow-values: map-get($config, overflow) !default;
$overflow-state: null !default;
$overflow-responsive: true !default;

// Override default options with the theme's ones
$overflow-defaults: (
    responsive: if(map-has-key($theme, overflow, responsive), map-get($theme, overflow, responsive), $overflow-responsive),
    values: if(map-has-key($theme, overflow, values), map-get($theme, overflow, values), $overflow-values),
    disable: if(map-has-key($theme, overflow, disable), map-get($theme, overflow, disable), false)
) !default;


// Set options
$overflow-options: (
    property: overflow,
    class: overflow,
    responsive: map-get($overflow-defaults, responsive),
    values: map-get($overflow-defaults, values),
);

$overflow-y-options: (
    property: overflow-y,
    class: overflow-y,
    responsive: map-get($overflow-defaults, responsive),
    values: map-get($overflow-defaults, values),
);

$overflow-x-options: (
    property: overflow-x,
    class: overflow-x,
    responsive: map-get($overflow-defaults, responsive),
    values: map-get($overflow-defaults, values),
);

// Merge states (variants)
@if(map-has-key($theme, overflow, state)) {
    // Push new values to default list if not null
    $overflow-state: if($overflow-state != null, append($overflow-state, map-get($theme, overflow, state)), map-get($theme, overflow, state));

    // Merge states with the utility options
    $overflow-options: map-merge($overflow-options, (
        state: map-get($theme, overflow, state)
    ));
    $overflow-y-options: map-merge($overflow-y-options, (
        state: map-get($theme, overflow, state)
    ));
    $overflow-x-options: map-merge($overflow-x-options, (
        state: map-get($theme, overflow, state)
    ));
} @else {
    @if($overflow-state != null) {
        $overflow-options: map-merge($overflow-options, (
            state: $overflow-state
        ));
        $overflow-y-options: map-merge($overflow-y-options, (
            state: $overflow-state
        ));
        $overflow-x-options: map-merge($overflow-x-options, (
            state: $overflow-state
        ));
    }
}
