// Text align
// options to pass to the utility API
//

// Default values
$text-align-values: map-get($config, text-align) !default;
$text-align-state: null !default;
$text-align-responsive: true !default;

// Override default options with the theme's ones
$text-align-defaults: (
    responsive: if(map-has-key($theme, text-align, responsive), map-get($theme, text-align, responsive), $text-align-responsive),
    values: if(map-has-key($theme, text-align, values), map-get($theme, text-align, values), $text-align-values),
    disable: if(map-has-key($theme, text-align, disable), map-get($theme, text-align, disable), false)
) !default;

$text-align-options: (
    property: text-align,
    class: text,
    responsive: map-get($text-align-defaults, responsive),
    values: map-get($text-align-defaults, values),
);

// Merge states (variants)
@if(map-has-key($theme, text-align, state)) {
    // Push new values to default list if not null
    $text-align-state: if($text-align-state != null, append($text-align-state, map-get($theme, text-align, state)), map-get($theme, text-align, state));

    // Merge states with the utility options
    $text-align-options: map-merge($text-align-options, (
        state: map-get($theme, text-align, state)
    ));
} @else {
    @if($text-align-state != null) {
        $text-align-options: map-merge($text-align-options, (
            state: $text-align-state
        ));
    }
}
