// Transition property
// options to pass to the utility API
//

// Default values
$transition-property-values: map-get($config, transition-property) !default;
$transition-property-state: null !default;
$transition-property-responsive: true !default;

// Override default options with the theme's ones
$transition-property-defaults: (
    responsive: if(map-has-key($theme, transition-property, responsive), map-get($theme, transition-property, responsive), $transition-property-responsive),
    values: if(map-has-key($theme, transition-property, values), map-get($theme, transition-property, values), $transition-property-values),
    disable: if(map-has-key($theme, transition-property, disable), map-get($theme, transition-property, disable), false)
) !default;

$transition-property-options: (
    property: transition-property,
    class: transition,
    responsive: map-get($transition-property-defaults, responsive),
    values: map-get($transition-property-defaults, values),
);

// Merge states (variants)
@if(map-has-key($theme, transition-property, state)) {
    // Push new values to default list if not null
    $transition-property-state: if($transition-property-state != null, append($transition-property-state, map-get($theme, transition-property, state)), map-get($theme, transition-property, state));

    // Merge states with the utility options
    $transition-property-options: map-merge($transition-property-options, (
        state: map-get($theme, transition-property, state)
    ));
} @else {
    @if($transition-property-state != null) {
        $transition-property-options: map-merge($transition-property-options, (
            state: $transition-property-state
        ));
    }
}
