// Width
// options to pass to the utility API
//

@import "../core";

// Default values
$width-values: map-get($config, width) !default;
$width-state: null !default;
$width-responsive: true !default;

// Override default options with the theme's ones
$width-defaults: (
    responsive: if(map-has-key($theme, width, responsive), map-get($theme, width, responsive), $width-responsive),
    values: if(map-has-key($theme, width, values), map-get($theme, width, values), $width-values),
    disable: if(map-has-key($theme, width, disable), map-get($theme, width, disable), false)
) !default;

$width-options: (
    property: width,
    class: w,
    responsive: map-get($width-defaults, responsive),
    values: map-get($width-defaults, values),
);

// Merge states (variants)
@if(map-has-key($theme, width, state)) {
    // Push new values to default list if not null
    $width-state: if($width-state != null, append($width-state, map-get($theme, width, state)), map-get($theme, width, state));

    // Merge states with the utility options
    $width-options: map-merge($width-options, (
        state: map-get($theme, width, state)
    ));
} @else {
    @if($width-state != null) {
        $width-options: map-merge($width-options, (
            state: $width-state
        ));
    }
}
