// Z-index
// options to pass to the utility API
//

// Default values
$zindex-values: map-get($config, zindex) !default;
$zindex-state: null !default;
$zindex-responsive: false !default;

// Override default options with the theme's ones
$zindex-defaults: (
    responsive: if(map-has-key($theme, zindex, responsive), map-get($theme, zindex, responsive), $zindex-responsive),
    values: if(map-has-key($theme, zindex, values), map-get($theme, zindex, values), $zindex-values),
    disable: if(map-has-key($theme, zindex, disable), map-get($theme, zindex, disable), false)
) !default;

// Set options
$zindex-options: (
    property: z-index,
    class: overlap,
    responsive: map-get($zindex-defaults, responsive),
    values: map-get($zindex-defaults, values),
);

// Merge states (variants)
@if(map-has-key($theme, zindex, state)) {
    // Push new values to default list if not null
    $zindex-state: if($zindex-state != null, append($zindex-state, map-get($theme, zindex, state)), map-get($theme, zindex, state));

    // Merge states with the utility options
    $zindex-options: map-merge($zindex-options, (
        state: map-get($theme, zindex, state)
    ));
} @else {
    @if($zindex-state != null) {
        $zindex-options: map-merge($zindex-options, (
            state: $zindex-state
        ));
    }
}
