// Options
$enable-caret:                true;
$enable-rounded:              true;
$enable-shadows:              true;
$enable-gradients:            false;
$enable-transitions:          true;
$enable-reduced-motion:       true;
$enable-smooth-scroll:        true;
$enable-grid-classes:         true;
$enable-cssgrid:              true;
$enable-button-pointers:      true;
$enable-rfs:                  true;
$enable-validation-icons:     true;
$enable-negative-margins:     true;
$enable-deprecation-messages: false;
$enable-important-utilities:  true;
$enable-gradient-utilities:   true;