// This variable affects the `.w-*`, `.min-w-*`, `.mw-*` classes.
$percentage-sizers: (
  25: 25%,
  50: 50%,
  75: 75%,
  80: 80%,
  90: 90%,
  100: 100%
);

// This variable affects the `.w-screen-*`, `.max-w-screen-*` classes.
$screen-width-sm:   640px;
$screen-width-md:   768px;
$screen-width-lg:   1024px;
$screen-width-xl:   1280px;
$screen-width-xxl:  1536px;

// Screen widths
$screen-widths: (
  screen-sm: $screen-width-sm,
  screen-md: $screen-width-md,
  screen-lg: $screen-width-lg,
  screen-xl: $screen-width-xl,
  screen-xxl: $screen-width-xxl
);

// Container widths
$container-width-xs: 20rem;
$container-width-sm: 24rem;
$container-width-md: 28rem;
$container-width-lg: 32rem;
$container-width-xl: 36rem;
$container-width-2xl: 42rem;
$container-width-3xl: 48rem;
$container-width-4xl: 56rem;
$container-width-5xl: 64rem;
$container-width-6xl: 72rem;
$container-width-7xl: 80rem;

$container-widths: (
  xs: $container-width-xs,
  sm: $container-width-sm,
  md: $container-width-md,
  lg: $container-width-lg,
  xl: $container-width-xl,
  2xl: $container-width-2xl,
  3xl: $container-width-3xl,
  4xl: $container-width-4xl,
  5xl: $container-width-5xl,
  6xl: $container-width-6xl,
  7xl: $container-width-7xl,
);