// Maps
// 

// We created this map because the one in Bootstrap doesn't contain the gray word as key
// to get bg-gray-100

$gray-colors: (
  "gray-50": $gray-50,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
  "gray-950": $gray-950
) !default;

$all-colors: map-merge-multiple($gray-colors, $blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $limes, $teals, $cyans);
$all-colors-rgb: map-loop($all-colors, to-rgb, "$value") !default;

$utilities-all-bg-colors: map-loop($all-colors, rgba-css-var, "$key", "bg") !default;
$utilities-all-text-colors: map-loop($all-colors, rgba-css-var, "$key", "text") !default;
$utilities-all-border-colors: map-loop($all-colors, rgba-css-var, "$key", "border") !default;

// Typography
$utilities-font-family-values: (
  base: var(--#{$prefix}font-sans-serif),
  serif: var(--#{$prefix}font-serif),
  display: var(--#{$prefix}font-display),
  code: var(--#{$prefix}font-monospace)
) !default;

$utilities-font-size-values: (
  xxs: $font-size-xxs,
  xs: $font-size-xs,
  sm: $font-size-sm,
  base: $font-size-base,
  md: $font-size-md,
  lg: $font-size-lg,
  xl: $font-size-xl,
  2xl: $font-size-2xl
) !default;

$utilities-line-height-values: (
  1: 1,
  xxs: 1.125,
  xs: 1.2,
  sm: 1.375,
  base: 1.5,
  lg: 1.625,
  xl: 2
) !default;

$utilities-letter-spacing-values: (
  tighter: -0.05em,
  tight: -0.025em,
  normal: 0,
  wide: 0.025em,
  wider: 0.05em,
  widest: 0.1em
) !default;

// Shadows
$utilities-shadows: (
  null: $box-shadow,
  1: $box-shadow-1,
  2: $box-shadow-2,
  3: $box-shadow-3,
  4: $box-shadow-4,
  5: $box-shadow-5,
  6: $box-shadow-6,
  inset: $box-shadow-inset,
  none: none
) !default;

$utilities-soft-shadows: (
  1: $box-soft-shadow-1,
  2: $box-soft-shadow-2,
  3: $box-soft-shadow-3,
  4: $box-soft-shadow-4,
  5: $box-soft-shadow-5,
  6: $box-soft-shadow-6,
) !default;

// Border radius
$utilities-border-radius: (
  null: $border-radius,
  0: 0,
  1: $border-radius-sm,
  2: $border-radius,
  3: $border-radius-lg,
  4: $border-radius-xl,
  5: $border-radius-xxl,
  pill: $border-radius-pill,
  circle: $border-radius-circle,
  card: $card-border-radius
) !default;

// Transform
$utilities-scale-values: (
  0: 0,
  25: .25,
  50: .5,
  75: .75,
  100: 1,
  105: 1.05,
  110: 1.1
) !default;

$utilities-rotate-values: (
  0: 0deg,
  1: 1deg,
  2: 2deg,
  3: 3deg,
  6: 6deg,
  12: 12deg,
  30: 30deg,
  45: 45deg,
  90: 90deg,
  180: 180deg,
) !default;

$utilities-translate-values: (
  0: 0,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
) !default;

$utilities-skew-values: (
  0: 0deg,
  1: 1deg,
  2: 2deg,
  3: 3deg,
  6: 6deg,
  12: 12deg,
) !default;
