// Maps
// 

// Typography
$utilities-font-family-values: (
  base: var(--#{$prefix}font-sans-serif),
  display: var(--#{$prefix}font-display),
  serif: var(--#{$prefix}font-serif),
  code: var(--#{$prefix}font-monospace)
) !default;

$utilities-font-size-values: (
  xxs: $font-size-xxs,
  xs: $font-size-xs,
  sm: $font-size-sm,
  base: $font-size-base,
  md: $font-size-md,
  lg: $font-size-lg,
  xl: $font-size-xl,
  2xl: $font-size-2xl
) !default;

$utilities-line-height-values: (
  1: 1,
  xxs: 1.125,
  xs: 1.2,
  sm: 1.375,
  base: 1.5,
  lg: 1.625,
  xl: 2
) !default;

$utilities-letter-spacing-values: (
  tighter: -0.05em,
  tight: -0.025em,
  normal: 0,
  wide: 0.025em,
  wider: 0.05em,
  widest: 0.1em
) !default;

// Shadows
$utilities-shadows: (
  null: $box-shadow,
  1: $box-shadow-sm,
  2: $box-shadow-lg,
  3: $box-shadow-xl,
  4: $box-shadow-2xl,
  5: $box-shadow-3xl,
  6: $box-shadow-4xl,
  inset: $box-shadow-inset,
  outline: $box-shadow-outline,
  focus: $box-shadow-focus,
  none: none
) !default;

$utilities-soft-shadows: (
  1: $box-soft-shadow-sm,
  2: $box-soft-shadow-lg,
  3: $box-soft-shadow-xl,
  4: $box-soft-shadow-2xl,
  5: $box-soft-shadow-3xl,
  6: $box-soft-shadow-4xl,
  none: none
) !default;

// Border radius
$utilities-border-radius: (
  null: $border-radius,
  0: 0,
  1: $border-radius-sm,
  2: $border-radius-lg,
  3: $border-radius-xl,
  4: $border-radius-2xl,
  5: $border-radius-3xl,
  6: $border-radius-4xl,
  pill: $border-radius-pill,
  circle: $border-radius-circle,
  card: $card-border-radius
) !default;

// Transform
$utilities-scale-values: (
  0: 0,
  25: .25,
  50: .5,
  75: .75,
  100: 1,
  105: 1.05,
  110: 1.1
) !default;

$utilities-rotate-values: (
  0: 0deg,
  1: 1deg,
  2: 2deg,
  3: 3deg,
  6: 6deg,
  12: 12deg,
  30: 30deg,
  45: 45deg,
  90: 90deg,
  180: 180deg,
) !default;

$utilities-translate-values: (
  0: 0,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
) !default;

$utilities-skew-values: (
  0: 0deg,
  1: 1deg,
  2: 2deg,
  3: 3deg,
  6: 6deg,
  12: 12deg,
) !default;
