@mixin red-light {
  
  // Colors
  $primary: $red;
  $primary-rgba: to-rgb($primary);
  $primary-text-emphasis: shade-color($primary, 60%);
  $primary-bg-subtle: tint-color($primary, 96%);
  $primary-border-subtle: tint-color($primary, 60%);

  --x-primary: #{$primary};
  --x-primary-rgb: #{to-rgb($primary)};
  --x-primary-text-emphasis: #{$primary-text-emphasis};
  --x-primary-bg-subtle: #{$primary-bg-subtle};
  --x-primary-border-subtle: #{$primary-border-subtle};

  $secondary: $gray-900;
  $secondary-rgba: to-rgb($secondary);
  $secondary-text-emphasis: shade-color($secondary, 60%);
  $secondary-bg-subtle: tint-color($secondary, 80%);
  $secondary-border-subtle: tint-color($secondary, 60%);

  --x-secondary: #{$secondary};
  --x-secondary-rgb: #{to-rgb($secondary)};
  --x-secondary-text-emphasis: #{$secondary-text-emphasis};
  --x-secondary-bg-subtle: #{$secondary-bg-subtle};
  --x-secondary-border-subtle: #{$secondary-border-subtle};

  // Links 
  --x-link-color: $primary;
  --x-link-color-rgb: $primary-rgba;
  --x-link-hover-color: $secondary;
  --x-link-hover-color-rgb: #{to-rgb($secondary)};

  // Buttons
  .btn-primary {
    --x-btn-bg: var(--x-primary);
    --x-btn-color: var(--x-white);
    --x-btn-border-color: var(--x-primary);
    --x-btn-hover-bg: #{lighten($primary, 6%)};
    --x-btn-hover-color: #{color-contrast($primary)};
    --x-btn-hover-border-color: #{lighten($primary, 6%)};
    --x-btn-active-bg: #{lighten($primary, 6%)};
    --x-btn-active-color: #{color-contrast($primary)};
    --x-btn-active-border-color: #{lighten($primary, 6%)};
  }

  .btn-secondary {
    --x-btn-bg: var(--x-secondary);
    --x-btn-color: var(--x-white);
    --x-btn-border-color: var(--x-secondary);
    --x-btn-hover-bg: #{lighten($secondary, 6%)};
    --x-btn-hover-color: #{color-contrast($secondary)};
    --x-btn-hover-border-color: #{lighten($secondary, 6%)};
    --x-btn-active-bg: #{lighten($secondary, 6%)};
    --x-btn-active-color: #{color-contrast($secondary)};
    --x-btn-active-border-color: #{lighten($secondary, 6%)};
  }

  .btn-white {
    --x-btn-bg: var(--x-white);
    --x-btn-color: var(--x-dark);
    --x-btn-border-color: var(--x-white);
    --x-btn-hover-bg: #{lighten($dark, 6%)};
    --x-btn-hover-color: #{color-contrast($dark)};
    --x-btn-hover-border-color: #{lighten($dark, 6%)};
    --x-btn-active-bg: #{lighten($dark, 6%)};
    --x-btn-active-color: #{color-contrast($dark)};
    --x-btn-active-border-color: #{lighten($dark, 6%)};
  }

  .btn-outline-primary {
    --x-btn-color: var(--x-primary);
    --x-btn-border-color: var(--x-primary);
    --x-btn-hover-bg: #{lighten($primary, 6%)};
    --x-btn-hover-color: #{color-contrast($primary)};
    --x-btn-hover-border-color: #{$primary};
    --x-btn-active-bg: #{$primary};
    --x-btn-active-color: #{color-contrast($primary)};
    --x-btn-active-border-color: #{lighten($primary, 6%)};
  }

  .btn-outline-secondary {
    --x-btn-color: var(--x-secondary);
    --x-btn-border-color: var(--x-secondary);
    --x-btn-hover-bg: #{lighten($secondary, 6%)};
    --x-btn-hover-color: #{color-contrast($secondary)};
    --x-btn-hover-border-color: #{$secondary};
    --x-btn-active-bg: #{$secondary};
    --x-btn-active-color: #{color-contrast($secondary)};
    --x-btn-active-border-color: #{lighten($secondary, 6%)};
  }
}
