//
// Form checks
//


// Switch
.form-switch {
    min-height: $form-switch-min-height;
}

.form-switch > .form-check-input {
    height: $form-switch-min-height;
    margin-top: 0; // Form switch input height is always equal to the height of the switch
}

.form-switch > .form-check-label {
    margin-top: calc((#{$form-switch-min-height} - #{$line-height-base} * 1em) / 2);
}

// Checkbox with line-through decoration on check
.form-check-linethrough {
    .form-check-input {
        &:checked + .form-check-label {
            text-decoration: line-through;
        }
    }
}
