$config: (
    background-color: map-merge(
        $theme-colors-rgb,
        (
            "body": to-rgb($body-color),
            "white": to-rgb($white),
            "black": to-rgb($black),
            "card": to-rgb($card-bg),
        )
    ),
    background-size: auto cover contain,
    border-color: map-merge(
        $theme-colors,
        (
            "transparent": transparent,
            "current": currentColor,
            "base": $border-color,
            "body": $body-bg,
            "card": $card-bg,
            "black": $black,
            "white": $white
        )
    ),
    border-style: solid dashed dotted double groove none,
    border-radius: (
        null: $border-radius,
        0: 0,
        1: $border-radius-sm,
        2: $border-radius-lg,
        3: $border-radius-xl,
        4: $border-radius-2xl,
        5: $border-radius-3xl,
        6: $border-radius-4xl,
        7: $border-radius-5xl,
        8: $border-radius-6xl,
        9: $border-radius-7xl,
        10: $border-radius-8xl,
        pill: $border-radius-pill,
        circle: $border-radius-circle,
        card: $card-border-radius
    ),
    border-width: (
        0: 0,
        null: 1px,
        2: 2px,
        3: 3px,
        4: 4px,
        5: 5px,
        6: 6px,
        7: 7px,
        8: 8px
    ),
    color: map-merge(
        $theme-colors-rgb,
        (
            "white": to-rgb($white),
            "body": to-rgb($body-color),
            "muted": to-rgb($text-muted),
            "heading": to-rgb($headings-color)
        )
    ),
    flex: (
        1: 1 1 0%,
        fill: 1 1 auto,
        initial: 0 1 auto,
        none: none
    ),
    align-content: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly,
        stretch: stretch,
    ),
    place-content: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly,
        stretch: stretch,
    ),
    font-family: (
        base: $font-family-base,
        display: $font-family-display,
        serif: $font-family-serif,
        code: $font-family-monospace
    ),
    font-size: (
        xs: $font-size-xs,
        sm: $font-size-sm,
        base: $font-size-base,
        md: $font-size-md,
        lg: $font-size-lg,
        xl: $font-size-xl,
        2xl: $font-size-2xl
    ),
    font-style: italic normal,
    font-weight: (
        light: $font-weight-light,
        lighter: $font-weight-lighter,
        regular: $font-weight-normal,
        semibold: $font-weight-semibold,
        bold: $font-weight-bold,
        bolder: $font-weight-bolder
    ),
    letter-spacing: (
        tighter: -0.05em,
        tight: -0.025em,
        normal: 0,
        wide: 0.025em,
        wider: 0.05em,
        widest: 0.1em
    ),
    line-height: (
        none: 1,
        tighter: 1.125,
        tight: 1.2,
        snug: 1.375,
        normal: 1.5,
        relaxed: 1.625,
        loose: 2
    ),
    height: map-collect(
        $spacers,
        $percentage-sizers,
        (
            px: 1px,
            auto: auto,
            full: 100%,
            screen: 100vh
        )
    ),
    min-height: (
        0: 0,
        full: 100%,
        screen: 100vh
    ),
    max-height: map-collect(
        $spacers,
        (
            px: 1px,
            full: 100%,
            screen: 100vh
        )
    ),
    opacity: (
        0: 0,
        10: 0.1,
        20: 0.2,
        30: 0.3,
        40: 0.4,
        50: 0.5,
        60: 0.6,
        70: 0.7,
        80: 0.8,
        90: 0.9,
        100: 1
    ),
    overflow: auto hidden visible scroll,
    position: static relative absolute fixed sticky,
    inset: map-merge(
        $spacers,
        (
            1\/2: 50%,
            full: 100%,
            auto: auto
        )
    ),
    blur: (
        5: 5px,
        10: 10px,
        25: 25px,
        50: 50px,
        75: 75px,
        100: 100px,
        125: 125px,
        150: 150px,
        200: 200px
    ),
    cursor: auto pointer wait text,
    rotate: (
        0: 0deg,
        1: 1deg,
        2: 2deg,
        3: 3deg,
        6: 6deg,
        12: 12deg,
        30: 30deg,
        45: 45deg,
        90: 90deg,
        180: 180deg,
    ),
    perspective: (
        100: 100px,
        200: 200px,
        300: 300px,
        400: 400px,
        500: 500px,
        600: 600px,
        700: 700px,
        800: 800px,
        1000: 1000px,
        1250: 1250px,
        1500: 1500px
    ),
    scale: (
        0: 0,
        25: .25,
        50: .5,
        75: .75,
        90: .9,
        95: .95,
        100: 1,
        105: 1.05,
        110: 1.1,
        125: 1.25,
        150: 1.5,
        200: 2,
    ),
    shadow: (
        null: $box-shadow,
        1: $box-shadow-sm,
        2: $box-shadow-lg,
        3: $box-shadow-xl,
        4: $box-shadow-2xl,
        5: $box-shadow-3xl,
        6: $box-shadow-4xl,
        inset: $box-shadow-inset,
        outline: $box-shadow-outline,
        focus: $box-shadow-focus,
        none: none
    ),
    skew: (
        0: 0deg,
        1: 1deg,
        2: 2deg,
        3: 3deg,
        6: 6deg,
        12: 12deg,
    ),
    text-align: (
        start: left,
        end: right,
        center: center,
    ),
    text-decoration: (
        no-decoration: none,
        underline: underline,
        line-through: line-through
    ),
    text-transform: lowercase uppercase capitalize,
    transform: (
        none: none
    ),
    transform-origin: (
        center: center,
        top: top,
        top-right: top right,
        right: right,
        bottom-right: bottom right,
        bottom: bottom,
        bottom-left: bottom left,
        left: left,
        top-left: top left
    ),
    translate: map-collect(
        $spacers,
        (
            1\/2: 50%,
            1\/3: 33.333333%,
            1\/4: 25%,
            1\/5: 20%,
            2\/3: 66.666667%,
            2\/5: 50%,
            3\/4: 75%,
            full: 100%
        )
    ),
    transition-property: (
        null: $transition-property,
        none: none,
        all: all,
        colors: $transition-property-colors,
        opacity: opacity,
        shadow: box-shadow,
        transform: transform,
    ),
    transition-timing-function: (
        base: $transition-timing-function,
        linear: linear,
        in: $transition-in-timing-function,
        out: $transition-out-timing-function,
        in-out: $transition-in-out-timing-function,
    ),
    transition-duration: (
        base: 150ms,
        75: 75ms,
        100: 100ms,
        150: 150ms,
        200: 200ms,
        300: 300ms,
        500: 500ms,
        700: 700ms,
        1000: 1000ms,
    ),
    transition-delay: (
        75: 75ms,
        100: 100ms,
        150: 150ms,
        200: 200ms,
        300: 300ms,
        500: 500ms,
        700: 700ms,
        1000: 1000ms,
    ),
    animation: (
        none: none,
        spin: spin 1s linear infinite,
        ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite,
        pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite,
        bounce: bounce 1s infinite,
        slide-left: slideLeft 3s infinite,
        slide-right: slideRight 3s infinite,
        move-slow-left: slideLeft 15s linear infinite,
        move-slow-right: slideRight 15s linear infinite,
    ),
    width: map-collect(
        $spacers,
        $percentage-sizers,
        (
            auto: auto,
            full: 100%,
            screen: 100vw,
            min: min-content,
            max: max-content
        )
    ),
    min-width: (
        0: 0,
        full: 100%,
        min: min-content,
        max: max-content
    ),
    max-width: map-collect(
        $screen-widths,
        (
            0: 0,
            full: 100%,
            read: 65ch,
            min: min-content,
            max: max-content
        )
    ),
    zindex: (
        10: 10,
        20: 20,
        30: 30,
        40: 40,
        50: 50,
        100: 100,
        200: 200,
        300: 300,
        400: 400,
        500: 500,
        1000: 1000,
        auto: auto
    )
);
