// Color utilities maps
//
// Extends the default `$theme-colors` maps to help create our utilities.

// Come v6, we'll de-dupe these variables. Until then, for backward compatibility, we keep them to reassign.
// scss-docs-start utilities-colors
$utilities-colors: $theme-colors-rgb !default;
// scss-docs-end utilities-colors

// scss-docs-start utilities-text-colors
$utilities-text: map-merge(
    $utilities-colors,
    (
        "white": to-rgb($white),
        "black": to-rgb($black),
        "body": to-rgb($body-color),
        "muted": to-rgb($text-muted),
        "heading": to-rgb($headings-color),
        "transparent": transparent,
        "current": currentColor,
        "reset": inherit,
    )
) !default;
$utilities-text-colors: map-loop($utilities-text, rgba-css-var, "$key", "text") !default;
// scss-docs-end utilities-text-colors

// scss-docs-start utilities-bg-colors
$utilities-bg: map-merge(
    $utilities-colors,
    (
        "body": to-rgb($body-color),
        "white": to-rgb($white),
        "black": to-rgb($black),
        "card": to-rgb($card-bg),
        "transparent": transparent,
        "current": currentColor
    )
) !default;
$utilities-bg-colors: map-loop($utilities-bg, rgba-css-var, "$key", "bg") !default;
// scss-docs-end utilities-bg-colors

// Border
$utilities-border-widths: (
    0: 0,
    null: 1px,
    2: 2px,
    3: 3px,
    4: 4px,
    5: 5px,
    6: 6px,
    7: 7px,
    8: 8px
) !default;

$utilities-border-radius: (
    null: $border-radius,
    0: 0,
    1: $border-radius-sm,
    2: $border-radius-lg,
    3: $border-radius-xl,
    4: $border-radius-2xl,
    5: $border-radius-3xl,
    6: $border-radius-4xl,
    7: $border-radius-5xl,
    8: $border-radius-6xl,
    9: $border-radius-7xl,
    10: $border-radius-8xl,
    pill: $border-radius-pill,
    circle: $border-radius-circle,
    card: $card-border-radius
) !default;

//
// Transform
//

$utilities-scale-values: (
    0: 0,
    25: .25,
    50: .5,
    75: .75,
    90: .9,
    95: .95,
    100: 1,
    105: 1.05,
    110: 1.1,
    125: 1.25,
    150: 1.5,
    200: 2,
) !default;

$utilities-rotate-values: (
    0: 0deg,
    1: 1deg,
    2: 2deg,
    3: 3deg,
    6: 6deg,
    12: 12deg,
    30: 30deg,
    45: 45deg,
    90: 90deg,
    180: 180deg,
) !default;

$utilities-perspective-values: (
    100: 100px,
    200: 200px,
    300: 300px,
    400: 400px,
    500: 500px,
    600: 600px,
    700: 700px,
    800: 800px,
    1000: 1000px,
    1250: 1250px,
    1500: 1500px
) !default;

$utilities-translate-values: map-collect(
    $spacers,
    (
        1\/2: 50%,
        1\/3: 33.333333%,
        1\/4: 25%,
        1\/5: 20%,
        2\/3: 66.666667%,
        2\/5: 50%,
        3\/4: 75%,
        full: 100%
    )
) !default;

$utilities-skew-values: (
    0: 0deg,
    1: 1deg,
    2: 2deg,
    3: 3deg,
    6: 6deg,
    12: 12deg,
) !default;
