// Avatar (Exclusive)
// Webpixels CSS styles
//

.avatar {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	@include font-size(style('avatar', 'base', 'font-size'));
	font-weight: style('avatar', 'font-weight');
	height: style('avatar', 'base', 'size');
	width: style('avatar', 'base', 'size');
	@include border-radius(style('avatar', 'base', 'border-radius'));

	img {
		width: 100%;
		@include border-radius(inherit);
	}

	+ .avatar {
		margin-left: .25rem;
	}

	+ .avatar-content {
		display: inline-block;
		margin-left: .75rem;
	}
}

// Sizes

.avatar-2xl {
	width: style('avatar', '2xl', 'size');
	height: style('avatar', '2xl', 'size');
	@include font-size(style('avatar', '2xl', 'font-size'));
	@include border-radius(style('avatar', '2xl', 'border-radius'));
}

.avatar-xl {
	width: style('avatar', 'xl', 'size');
	height: style('avatar', 'xl', 'size');
	@include font-size(style('avatar', 'xl', 'font-size'));
	@include border-radius(style('avatar', 'xl', 'border-radius'));
}

.avatar-lg {
	width: style('avatar', 'lg', 'size');
	height: style('avatar', 'lg', 'size');
	@include font-size(style('avatar', 'lg', 'font-size'));
	@include border-radius(style('avatar', 'lg', 'border-radius'));
}

.avatar-sm {
	width: style('avatar', 'sm', 'size');
	height: style('avatar', 'sm', 'size');
	@include font-size(style('avatar', 'sm', 'font-size'));
	@include border-radius(style('avatar', 'sm', 'border-radius'));
}

.avatar-xs {
	width: style('avatar', 'xs', 'size');
	height: style('avatar', 'xs', 'size');
	@include font-size(style('avatar', 'xs', 'font-size'));
	@include border-radius(style('avatar', 'xs', 'border-radius'));
}

//
// Avatar group
//

.avatar-group {
	display: inline-block;
	line-height: 1;

	.avatar {
		z-index: 1;
		@include transition(margin .15s ease-in-out);

		&:hover {
			z-index: 2;
		}

	}

	.avatar + .avatar {
		margin-left: -1.25rem;
		@include border-start-radius(0);
	}

	.avatar-sm + .avatar-sm,
	.avatar-xs + .avatar-xs, {
		margin-left: -1rem;
	}

	&:hover {
		.avatar {
			@include border-start-radius(style('avatar', 'base', 'size'));
		}

		.avatar-sm {
			@include border-start-radius(style('avatar', 'sm', 'size'));
		}
	}
}

.avatar-ungroup-hover:hover {
	.avatar:not(:first-child) {
		margin-left: 0;
	}
}
