//
<<<<<<< Updated upstream
// Avatar
//


=======
// Avatar (Exclusive)
// Webpixels CSS styles
//

>>>>>>> Stashed changes
.avatar {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
<<<<<<< Updated upstream
	@include font-size($avatar-font-size);
	font-weight: $avatar-font-weight;
	height: $avatar-width;
	width: $avatar-width;
	@include border-radius($avatar-border-radius);
=======
	@include font-size(style('avatar', 'base', 'font-size'));
	font-weight: style('avatar', 'font-weight');
	height: style('avatar', 'base', 'size');
	width: style('avatar', 'base', 'size');
	@include border-radius(style('avatar', 'base', 'border-radius'));
>>>>>>> Stashed changes

	img {
		width: 100%;
		@include border-radius(inherit);
	}

	+ .avatar {
		margin-left: .25rem;
	}

	+ .avatar-content {
		display: inline-block;
		margin-left: .75rem;
	}
}

// Sizes

.avatar-2xl {
<<<<<<< Updated upstream
	width: $avatar-width-2xl;
	height: $avatar-width-2xl;
	@include font-size($avatar-font-size-2xl);
}

.avatar-xl {
	width: $avatar-width-xl;
	height: $avatar-width-xl;
	@include font-size($avatar-font-size-xl);
}

.avatar-lg {
	width: $avatar-width-lg;
	height: $avatar-width-lg;
	@include font-size($avatar-font-size-lg);
}

.avatar-sm {
	width: $avatar-width-sm;
	height: $avatar-width-sm;
	@include font-size($avatar-font-size-sm);
	@include border-radius($avatar-border-radius-sm);
}

.avatar-xs {
	width: $avatar-width-xs;
	height: $avatar-width-xs;
	@include font-size($avatar-font-size-xs);
	@include border-radius($avatar-border-radius-xs);
=======
	width: style('avatar', '2xl', 'size');
	height: style('avatar', '2xl', 'size');
	@include font-size(style('avatar', '2xl', 'font-size'));
	@include border-radius(style('avatar', '2xl', 'border-radius'));
}

.avatar-xl {
	width: style('avatar', 'xl', 'size');
	height: style('avatar', 'xl', 'size');
	@include font-size(style('avatar', 'xl', 'font-size'));
	@include border-radius(style('avatar', 'xl', 'border-radius'));
}

.avatar-lg {
	width: style('avatar', 'lg', 'size');
	height: style('avatar', 'lg', 'size');
	@include font-size(style('avatar', 'lg', 'font-size'));
	@include border-radius(style('avatar', 'lg', 'border-radius'));
}

.avatar-sm {
	width: style('avatar', 'sm', 'size');
	height: style('avatar', 'sm', 'size');
	@include font-size(style('avatar', 'sm', 'font-size'));
	@include border-radius(style('avatar', 'sm', 'border-radius'));
}

.avatar-xs {
	width: style('avatar', 'xs', 'size');
	height: style('avatar', 'xs', 'size');
	@include font-size(style('avatar', 'xs', 'font-size'));
	@include border-radius(style('avatar', 'xs', 'border-radius'));
>>>>>>> Stashed changes
}

//
// Avatar group
//

.avatar-group {
	display: inline-block;
	line-height: 1;

	.avatar {
		z-index: 1;
		@include transition(margin .15s ease-in-out);

		&:hover {
			z-index: 2;
		}

	}

	.avatar + .avatar {
		margin-left: -1.25rem;
		@include border-start-radius(0);
	}

	.avatar-sm + .avatar-sm,
	.avatar-xs + .avatar-xs, {
		margin-left: -1rem;
	}

	&:hover {
		.avatar {
<<<<<<< Updated upstream
			@include border-start-radius($avatar-border-radius);
		}

		.avatar-sm {
			@include border-start-radius($avatar-border-radius-sm);
=======
			@include border-start-radius(style('avatar', 'base', 'size'));
		}

		.avatar-sm {
			@include border-start-radius(style('avatar', 'sm', 'size'));
>>>>>>> Stashed changes
		}
	}
}

.avatar-ungroup-hover:hover {
	.avatar:not(:first-child) {
		margin-left: 0;
	}
}
