//
// Icon
//

.icon {
	font-size: calc(style('icon', 'size', 'base') / 1.75);
	line-height: 1;

	svg {
		width: style('svg', 'icon', 'size');
    height: style('svg', 'icon', 'size');
	}
}

.icon + .icon-text {
	padding-left: 1rem;
	width: calc(100% - #{style('icon', 'size', 'base')} - 1);
}


// Size variations

.icon-xl {
	font-size: calc(style('icon', 'size', 'xl')/ 1.75);
}

.icon-xl + .icon-text {
	width: calc(100% - #{style('icon', 'size', 'xl')} - 1);
}

.icon-lg {
	font-size: calc(style('icon', 'size', 'lg') / 1.75);
}

.icon-lg + .icon-text {
	width: calc(100% - #{style('icon', 'size', 'lg')} - 1);
}

.icon-sm {
	font-size: calc(style('icon', 'size', 'sm') / 1.75);
}

.icon-sm + .icon-text {
	width: calc(100% - #{style('icon', 'size', 'sm')} - 1);
}

.icon-xs {
	font-size: calc(style('icon', 'size', 'xs') / 1.75);
}

.icon-xs + .icon-text {
	width: calc(100% - #{style('icon', 'size', 'xs')} - 1);
}

// Shape icons
.icon-shape {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	border-radius: style('border-radius');
	width: style('icon', 'size', 'base');
	height: style('icon', 'size', 'base');

	&.icon-xl {
		width: style('icon', 'size', 'xl');
		height: style('icon', 'size', 'xl');
	}

	&.icon-lg {
		width: style('icon', 'size', 'lg');
		height: style('icon', 'size', 'lg');
	}

	&.icon-sm {
		width: style('icon', 'size', 'sm');
		height: style('icon', 'size', 'sm');
	}

	&.icon-xs {
		width: style('icon', 'size', 'xs');
		height: style('icon', 'size', 'xs');
	}
}
