//
// Icon
//

<<<<<<< Updated upstream
@use "sass:math";

.icon {
	font-size: math.div($icon-size, 1.75);
	line-height: 1;

	svg {
		width: $svg-icon-size;
        height: $svg-icon-size;
=======
.icon {
	font-size: calc(style('icon', 'size', 'base') / 1.75);
	line-height: 1;

	svg {
		width: style('svg', 'icon', 'size');
    height: style('svg', 'icon', 'size');
>>>>>>> Stashed changes
	}
}

.icon + .icon-text {
	padding-left: 1rem;
<<<<<<< Updated upstream
	width: calc(100% - #{$icon-size} - 1);
=======
	width: calc(100% - #{style('icon', 'size', 'base')} - 1);
>>>>>>> Stashed changes
}


// Size variations

.icon-xl {
<<<<<<< Updated upstream
	font-size: math.div($icon-size-xl, 1.75);
}

.icon-xl + .icon-text {
	width: calc(100% - #{$icon-size-xl} - 1);
}

.icon-lg {
	font-size: math.div($icon-size-lg, 1.75);
}

.icon-lg + .icon-text {
	width: calc(100% - #{$icon-size-lg} - 1);
}

.icon-sm {
	font-size: math.div($icon-size-sm, 1.75);
}

.icon-sm + .icon-text {
	width: calc(100% - #{$icon-size-sm} - 1);
}

.icon-xs {
	font-size: math.div($icon-size-xs, 1.75);
}

.icon-xs + .icon-text {
	width: calc(100% - #{$icon-size-xs} - 1);
=======
	font-size: calc(style('icon', 'size', 'xl')/ 1.75);
}

.icon-xl + .icon-text {
	width: calc(100% - #{style('icon', 'size', 'xl')} - 1);
}

.icon-lg {
	font-size: calc(style('icon', 'size', 'lg') / 1.75);
}

.icon-lg + .icon-text {
	width: calc(100% - #{style('icon', 'size', 'lg')} - 1);
}

.icon-sm {
	font-size: calc(style('icon', 'size', 'sm') / 1.75);
}

.icon-sm + .icon-text {
	width: calc(100% - #{style('icon', 'size', 'sm')} - 1);
}

.icon-xs {
	font-size: calc(style('icon', 'size', 'xs') / 1.75);
}

.icon-xs + .icon-text {
	width: calc(100% - #{style('icon', 'size', 'xs')} - 1);
>>>>>>> Stashed changes
}

// Shape icons
.icon-shape {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
<<<<<<< Updated upstream
	border-radius: $border-radius;
	width: $icon-size;
	height: $icon-size;

	&.icon-xl {
		width: $icon-size-xl;
		height: $icon-size-xl;
	}

	&.icon-lg {
		width: $icon-size-lg;
		height: $icon-size-lg;
	}

	&.icon-sm {
		width: $icon-size-sm;
		height: $icon-size-sm;
	}

	&.icon-xs {
		width: $icon-size-xs;
		height: $icon-size-xs;
=======
	border-radius: style('border-radius');
	width: style('icon', 'size', 'base');
	height: style('icon', 'size', 'base');

	&.icon-xl {
		width: style('icon', 'size', 'xl');
		height: style('icon', 'size', 'xl');
	}

	&.icon-lg {
		width: style('icon', 'size', 'lg');
		height: style('icon', 'size', 'lg');
	}

	&.icon-sm {
		width: style('icon', 'size', 'sm');
		height: style('icon', 'size', 'sm');
	}

	&.icon-xs {
		width: style('icon', 'size', 'xs');
		height: style('icon', 'size', 'xs');
>>>>>>> Stashed changes
	}
}
