//
// Pagination
<<<<<<< Updated upstream

=======
//
// Bootstrap component
@import "bootstrap/scss/pagination";

// Webpixels CSS styles
//
>>>>>>> Stashed changes
.pagination {
    margin-bottom: 0;

    .page-link {
<<<<<<< Updated upstream
        font-size: $pagination-font-size;
=======
        font-size: token('font-size', 'base');
>>>>>>> Stashed changes
    }
}


// Sizing

.pagination-lg .page-link {
<<<<<<< Updated upstream
    font-size: $pagination-font-size-lg;
}

.pagination-sm .page-link {
    font-size: $pagination-font-size-sm;
=======
    font-size: token('font-size', 'lg');
}

.pagination-sm .page-link {
    font-size: token('font-size', 'sm');
>>>>>>> Stashed changes
}

// Pagination tabs

.pagination-tabs {
    border-radius: 0;

<<<<<<< Updated upstream
    .page-link {
        margin-top: -$border-width;
        padding: $pagination-tabs-padding-y $pagination-tabs-padding-x;
        background-color: $pagination-tabs-bg-color;
        border-width: $pagination-tabs-border-width 0 0 0;
        border-color: transparent;
        border-radius: 0 !important;

        &:hover {
            color: $pagination-tabs-hover-color;
        }
    }

    .page-item.active {
        .page-link {
            background-color: $pagination-tabs-bg-color;
            border-color: $pagination-tabs-active-border-color;
            color: $pagination-tabs-active-color;
        }
    }
=======
    // .page-link {
    //     margin-top: -$border-width;
    //     padding: $pagination-tabs-padding-y $pagination-tabs-padding-x;
    //     background-color: $pagination-tabs-bg-color;
    //     border-width: $pagination-tabs-border-width 0 0 0;
    //     border-color: transparent;
    //     border-radius: 0 !important;
    //
    //     &:hover {
    //         color: $pagination-tabs-hover-color;
    //     }
    // }
    //
    // .page-item.active {
    //     .page-link {
    //         background-color: $pagination-tabs-bg-color;
    //         border-color: $pagination-tabs-active-border-color;
    //         color: $pagination-tabs-active-color;
    //     }
    // }
>>>>>>> Stashed changes
}

.pagination-spaced {
    border-radius: 0;

    .page-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border-radius: $pagination-border-radius;
        width: 36px;
        height: 36px;
    }

    &.pagination-sm {
        .page-link {
            width: 30px;
            height: 30px;
            border-radius: $border-radius-sm;
        }
    }

    &.pagination-lg {
        .page-link {
            width: 52px;
            height: 52px;
        }
    }
}
