// Purpose Functions
@import "functions";

// Purpose Variables
@import "variables";

// Bootstrap Functions, Variables, and Mixins
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Custom Mixins used to extend Bootstrap's default settings
@import "mixins/forms";
@import "mixins/link";
@import "mixins/modals";
@import "mixins/popover";
